.Recipe {
  width:26%;

  text-align: center;
  background-image: url('../public/images/sidebar.png');
  background-size: cover;
  align-content: center;
}

.Recipe-Header {
  height: 8vh;
  padding: 3vh;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 3vh;
  color: #FFFFFF;
}

.Recipe-List {
  position: absolute;
  left: 87%;
  top: 50%;
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */

}
